.header {
  opacity: 0.8;
  margin-top: 0px;
}

.headerImg {
  /* opacity: 0.8; */
  width: 100%;
  height: 450px;
  /* margin-top: 80px; */
  object-fit: cover;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
  /* top: 50%; */
}

.headerTitleSm {
  position: absolute;
  top: 18%;
  font-size: 20px;
}

.headerTitleLg {
  position: absolute;
  top: 30%;
  font-size: 100px;
  color: white;
}
