@font-face {
  font-family: "Playfair";
  src: local("Playfair"), url("./fonts/Lato-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Lato";
  /* src: local("Lato"), url("./fonts/Lato-Light.ttf") format("ttf"); */
  src: url("./fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("./fonts/OpenSans-Semibold.ttf") format("ttf");
}
