@font-face {
  font-family: "Playfair";
  src: local("Playfair"), url("./fonts/PlayfairDisplay.ttf") format("ttf");
}
@font-face {
  font-family: "Lato";
  src: local("Lato"), url("./fonts/Lato-Light.ttf") format("ttf");
}